body{
background-color: lightgrey;
}
a{
    text-decoration: none;
    color: black;
}
#navbar{
    height: 100px;
    background-color: black;
    color:white;
    margin-top: 0px;
}
#logo{
    float: left;
}
.center{
    text-align: center;
}
.float-right{
    float: right;
}
.evans{
    padding-top: 0px auto;
    object-fit: cover;
    height: 150px;
    border-radius: 50%;
}
.dagi{
    object-fit: cover;
    height: 150px;
    border-radius: 50%;

}
.welcome{
height: 50vh;
padding-top: 200px;
font-size: 100px;
background-image: url(https://miro.medium.com/max/680/1*3zwzu2fFptPl1223zYQfiA.jpeg);
background-color: black;
}
.projects{
  background-color: white;
  height: 330px;
  max-width: 960px;
  margin: 0 auto;
  padding:20px;
  margin-top: 10px;
}
.project-title{
    height: 150px;
    width: 31%;
    margin: 10px;
    float: left;
    background-color: lightgrey;
}
.iconify{
    font-size: 35px;
    color: white;
}
.icon{
    font-size: 200px;
   color: black;
   text-align: center;
}
#profile{
    background-color: black;
  height: 200px;
  max-width: 960px;
  margin: 0 auto;
  padding:20px;
  margin-top: 10px;
}
#profile-link{
    height: 200px;
    margin: 10px;
    float: left;
    background-color: lightgrey; float: left;
    width: 46%;
    color: black;
border-radius: 10%;
}
.white{
    color: white;
}